<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Change Password</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cp.css' %}">
</head>
<body>
    <h3 align="center"><mark>{{msg}}</mark></h3>
    <form action="{% url 'updatepassword' %}" method="post">
		{% csrf_token %}
     	<h2>Change Password</h2>
     	<label>Old Password</label>
     	<input type="password"
     	       name="op"
     	       placeholder="Old Password">
     	       <br>

     	<label>New Password</label>
     	<input type="password"
     	       name="np"
     	       placeholder="New Password">
     	       <br>

     	<button type="submit">CHANGE</button>
          <a href="{% url 'btuserhome' %}" class="ca">HOME</a>
     </form>
</body>
</html>